//PROD
{
  "expo": {
    "sdkVersion": "32.0.0",
    "name": "Aedes em Foco Agente",
    "version": "1.0.0.0",
    "description": "Aplicativo para auxiliar os agentes de endemias de cedro no controle das arboviroses",
    "slug": "aedes-agent-react-native",
    "privacy": "unlisted",
    "platforms": [
      "android"
    ],
    "orientation": "portrait",
    "icon": "./assets/images/aedes_em_foco.png",
    "primaryColor": "#00796B",
    "splash": {
      "backgroundColor": "#ffffff",
      "image": "./assets/images/aedes_em_foco.png"
    },
    "android": {
      "package": "br.ufc.lme.aedesemfoco.agent",
      "versionCode": 23,
      "permissions": [
        "ACCESS_FINE_LOCATION"
      ]
    },
    "extra": {
      "baseurl": "https://aedes-agent-cedro-production.herokuapp.com"
    }
  }
}


//DEV

{
  "expo": {
    "sdkVersion": "32.0.0",
    "name": "Aedes em Foco Agente Teste",
    "version": "1.0.0.0",
    "description": "Aplicativo para auxiliar os agentes de endemias de cedro no controle das arboviroses",
    "slug": "aedes-agent-react-native-v2-teste",
    "privacy": "unlisted",
    "platforms": [
      "android"
    ],
    "orientation": "portrait",
    "icon": "./assets/images/aedes_em_foco.png",
    "primaryColor": "#00796B",
    "splash": {
      "backgroundColor": "#ffffff",
      "image": "./assets/images/aedes_em_foco.png"
    },
    "android": {
      "package": "br.ufc.lme.aedesemfoco.agent",
      "versionCode": 23,
      "permissions": [
        "ACCESS_FINE_LOCATION"
      ]
    },
    "extra": {
      "baseurl": "https://aedes-staging-ace-2.herokuapp.com"
    }
  }
}